[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jedi = "*"
mypy = "*"

[packages]
requests = "*"
mechanicalsoup = "*"
pytest = "*"

[requires]
python_version = "3.8"
